@font-face {
    font-family: GreenHouse;
    src: url('./fonts/GREENHOUSEGAS.TTF');
}

@font-face {
    font-family: BurgerGreen;
    src: url('./fonts/BurgerGreen-MVGpB.otf');
}

@font-face {
    font-family: BuyanForest;
    src: url('./fonts/BuyanForest-Yz0jy.otf');
}



body {
    background-color: black;
    color: whitesmoke;
    font-size: x-large;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    background-color: black;
    /* padding-top: 1%;
    padding-bottom: 1%; */
    z-index: 1;
}

nav ul {
    margin: 0%;
    padding: 0;
    list-style: none;
    float: right;
}

nav li {
    /* font-family: BuyanForest; */
    display: inline-block;
    margin: 0 10px;
    padding: 20px 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    display: inline-block;
    position: relative;
}

.logo {
    float: left;
    position:relative;
    right: 4%;
    margin-left: 5%;
}

.logo img {
    height: 60px;
    width: 60px;
    transition: opacity .8s;
    transition: all 0.3s ease-in-out 0s;
}

.logo img.logo_hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .3s;
}

nav:hover img.logo_hover {
    opacity: 1;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

nav:hover img.logo_main {
    opacity: 0;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}


.logo h1 {
    display: inline-block;
    margin: 0;
    padding: 15px;
    font-size: 30px;
    font-weight: 900;
    margin-left: 0%;
    vertical-align: top;
}

a:link {
    color: white;
}


a:visited {
    color: white;
}


a:hover {
    color: rgb(100, 255, 0);
}


a:active {
    color: rgb(100, 255, 0);
}

nav a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgb(100, 255, 0);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all 0.4s ease;
}

nav a:hover:after {
    width: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

p {
    color: white;
}


.footer {
    background: #000;
    padding: 0px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}
 
.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}
/*
.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
} */

/* @media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
} */