@font-face { font-family: GreenHouse;
    src: url('./fonts/GREENHOUSEGAS.TTF'); 
}

header {
    color: rgb(100, 255,0);
}

body {
    background-color: black;
    color: whitesmoke;
    font-size: x-large;
}

